<%= form_for(book) do |f| %>
  <div class="form-title">
    <%= f.label :Title %>
    <%= f.text_field :title, class: "col-md-12" %>
  </div>

  <div class="form-body">
  	<%= f.label :Opinion %>
    <%= f.text_area :body, class: "col-md-12" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary col-md-12" %>
  </div>
<% end %>